/* Element Styling */
body {
  font-size: 1.2em;
  background-image: linear-gradient(to right, #000, #000, #733594, #000, #000);
  color: #fff;
}

h1 {
  color: #000;
}

label {
  text-align: center;
}

form{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-items:center
}

/* Class Styling */
.card{
  background-color: #a3a3a3;
  color: #000;
  width: 50%;
  display: block;
  margin: auto;
}

.jumbotron {
  background-color: #a3a3a3;
}
/* ID styling */
#output-card {
  display: none;
}

#submit {
  display: block; 
  margin: auto;
}

@media only screen and (max-width: 900px){
  .card {
    width: 100%;
  }
}
@media only screen and (max-width: 900px){
  .card {
    width: 90%;
  }
}